.skill-block {
}

.skill-block .row {
  flex: 1;
  column-count: 3;
  column-gap: 60px;

  @media (max-width: 1024px) {
    column-count: 2;
  }

  @media (max-width: 480px) {
    column-count: 1;
  }
}

.skill-block .row .col:not(:last-child) {
  margin-right: 60px;
}

.skill-item {
  display: flex;
  justify-content: space-between;

  font-size: medium;
}

.skill-item .score {
  display: flex;
  align-items: center;
}
